head{
    background-color: darkviolet;
    padding: 0px;
}

body{
    background-color:gray;
    border-color:floralwhite;
    border-left-style: solid;
    border-right-style: solid;
    padding: 2px;
}

h1{
    text-align: center;
}
p.question {
    font-size: 36px;
    min-width: 500px;
}
.button{
    background-color:cornflowerblue;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 8pt;
    color: white;
    padding: 8pt;
    width: 80%;
    text-align: center;
    display: block;
    font-size: 24pt;
    margin: -2px auto;
    cursor: pointer;
}
